<p>Hi ,</p>  <br/>
<p>Enclosed is the dispatch details for  :{{ ordernum }}   </p><br/>
<p>This is the system generated mail if you need any clarification please contact IT on +94773076616 or email: trevin@earthfoam.com </p>




