<p>Dear {{ name }},</p></br>
<p>We are pleased to inform you that your account for BBK Application has been successfully created. You can now access our application using the your login credentials used for the parent company. </p>
</br>
<p>We value your privacy and the security of your information. If you encounter any suspicious activities or have concerns about your account, please contact our support team immediately.</p>
<p>Thank you for choosing BBK Application. We look forward to serving you and providing you with an exceptional user experience.</p>
</br>
</br>

<p>
   Best regards, 
</p></br>
<p>Intaap Team</p>