<p>Dear {{ name }},</p></br>
<p>We are pleased to inform you that your account for BBK Application has been successfully created. You can now access our application using the following login credentials:</p>
</br>
<p>username: {{username}}</p><p>Password:{{ password }}</p>

<p>To ensure the security of your account, we recommend that you change your password upon logging in for the first time. Please follow these steps to log in:</p>
<ol>
    <li>Visit our application login page at <a href='https://dev.d3mnkfnlzusm0o.amplifyapp.com/login/'>click</a>.</li>
    <li>Enter your username and the temporary password provided above.</li>
    <li>Once logged in, navigate to the account settings section to change your password to a secure and personalized one.</li>
    <li>Familiarize yourself with the features and functionality of our application. If you have any questions or require assistance, our support team is available to help.</li>
</ol>
</br>
<p>Please note that your temporary password is valid for a limited time, so we encourage you to log in as soon as possible to prevent any inconvenience.</p>
<p>We value your privacy and the security of your information. If you encounter any suspicious activities or have concerns about your account, please contact our support team immediately.</p>
<p>Thank you for choosing BBK Application. We look forward to serving you and providing you with an exceptional user experience.</p>
</br>
</br>

<p>
   Best regards, 
</p></br>
<p>Intaap Team</p>