<p>Dear {{ name }},</p></br>
<p>Your account for BBK Application has been created successfully. You can now access our application using your existing login credentials for the parent company. </p>
</br>
<p>We prioritize your privacy and the security of your information. If you notice any suspicious activities or have concerns regarding your account, please reach out to our support team without delay.</p>
<p>
Thank you for choosing BBK Application. We are excited to serve you and provide an exceptional user experience.</p>
</br>
</br>

<p>
   Best regards, 
</p>
<p>Intaap Team</p>