<p>Dear {{ name }},</p></br>
<p>Your BBK Application account has been successfully created. Access our application using the following login credentials:</p>
</br>
<p>username: {{username}}</p><p>Password:{{ password }}</p>

<p>For security, change your password upon first login:</p>
<p>Go to <a href='https://dev.d3mnkfnlzusm0o.amplifyapp.com/login/'>https://dev.d3mnkfnlzusm0o.amplifyapp.com/login/</a></p>
<p>Enter your username and the temporary password.</p>
<p>Visit account settings to set a secure password.</p>
<p>Explore our app's features and functionality. Contact support if needed.</p>
<p>Please log in promptly to avoid inconvenience as the temporary password has an expiry.</p>
</br>
<p>Your privacy and security matter. Contact us immediately if you notice any suspicious activity.</p>
<p>Thank you for choosing BBK Application. Enjoy an exceptional user experience.</p>
</br>
</br>

<p>
   Best regards, 
</p>
<p>Intaap Team</p>