<p>Dear User,</p></br>

<p>Please activate your {{email}}, by using belowa link <a href="{{link}}" target="_blank" rel="noopener noreferrer">Activate email</a></p>
<p>
   Best regards, 
</p>
<p>Intaap Team</p>