<p>Dear {{companyname}},</p></br>

<p>this is your payment link,you can use below link to continuw to your payment </p>
<p>{{link}}</p>

<p>If you have any questions or encounter any issues during the login process, please feel free to reach out to our support team at info@intaap.com. We are here to assist you.</p>
<p>Thank you for your valuable contribution to our team. We believe that the application will greatly enhance our productivity and collaboration efforts. We look forward to seeing the positive impact it will have on our daily operations.</p>

<p>
   Best regards, 
</p>
<p>Intaap Team</p>