<p>Hi ,</p>  <br/>
<p>this is your {{accountemail}} account realte password reset link  :<a href="{{link}}" target="_blank" rel="noopener noreferrer"> Click here</a></p><br/><p>
   Best regards, 
</p>
<p>Intaap Team</p>